*{
    margin: 0;
    }
    body{
     background-color: #F8F9F8;
    }
    header{
       display: flex;
    height: 20vh;
    align-items: center;
    border-top: 6px solid #F4851D;
    background-color: #FFFFFF;
    }
    #bases{
     display: flex;
     justify-content:flex;
       width: 60vw;
    padding-left: 7%;
    
    }
    .logo{
     float: left;
     width: 25%;
    }
    .base{
    text-align: center;
    margin-left: 4%;
    }
    header p{
     color: #A2A2A2;
    }
    header h2{
     color:#626262;
    }
    .squareA{
    
    height: 117vh;
    width: 60vw;
    margin-top: 2%;
    border-top: 6px solid #F4851D;
    background-color: #FFFFFF;
    
    }
    .squareb{
    height: 50vh;
    width: 37vw;
    margin-top: 5.6%;
    margin-left: 6%;
    border-top: 6px solid #F4851D;
     background-color: #FFFFFF;
    }
    #squarebb button {
        background-color: lightgrey;
        border: 1px solid #5A5A5A;
        border-bottom: none;
     padding: 2% 18%;
    }
    
    #squarebb button:hover {
        background-color: #cccccc;
     cursor: pointer;
    }
    
    
    #squarebb button.active {
        background-color: white;
    }
    /* #squarebb  {
        flex-direction: column;
    } */
    
    #squarebb  {
        border: 1px solid #5A5A5A;
        border-top: none;
     height: 15vh;
    
    }
    
    #squarebb  {
        justify-content: space-around;
    }
    #squareba{
     height: 15vh;
     margin-top: 2%;
     margin-left: 2%;
      border-top: 6px solid #F4851D;
       background-color: #FFFFFF;
       width: 36uvw;
     padding: 3%;
    
    }
    .mcontainer{
     display: flex;
    }
    .squareAb{
    
    
    }
    
    #img1{
    
     width: 55vw;
     height: 65vh;
     padding-left: 2%;
     padding-top: 2%;
    }
    .box3{
    height: 119vh;
    width: 57.5vw;
    margin-top: 2%;
    border-top: 6px solid #F4851D;
    background-color: #FFFFFF;
    }
    main p{
     color: #888888;
     border-bottom: 1px solid lightgrey;
     font-size: 120%;
         margin-left: 2%;
        margin-top: 2%;
         padding-bottom: 2.5%;
         width: 55vw;
         line-height: 1.4;
    }
    main span{
     color: #C1BBB6;
     float: right;
     margin-right: 3%;
     margin-top: 2%;
    }
    #img3{
     height: 68vh;
       width: 55vw;
       margin-left: 2%;
       padding-top: 2%;
    }
    main h2{
         margin-top: 2%;
         padding-left: 2%;
         font-family: sans-serif;
    }
    footer{
     margin-top: 3%;
     padding-top: 2%;
      border-top: 6px solid #F4851D;
       background-color: #FFFFFF;
        width: 100%;
    }
    .box3b{
        border-top: 6px solid #F4851D;
        width: 57.5vw;
        margin-top: 2%;
        height: 10vh;
       background-color: #FFFFFF;
       display: flex;
    }
    .box3b p{
     width: 2vw;
     height: 2vh;
     text-align: center;
    }
    .box4 {
       display: flex;
       justify-content: space-around;
       align-items: flex-start;
    }
    
    .box4a {
       width: 28%;
    
    }
    
    .box4a button {
       text-decoration: none;
       padding: 2%;
       margin: 2%;
       border: 1px solid #8A8A8A;
       border-left: 3px solid #F2841D;
       background-color: #F8F8F8;
       color: #8A8A8A;
    }
    
    footer .content2 {
       float: right;
    
    }
    
    footer .content1 {
       display: inline-block;
       text-align: left;
    }